.relatedproduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.relatedproduct h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedproduct hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproduct-item{
 margin-top:50px;
 display:flex;
 gap:30px;
 flex-wrap: wrap;
 justify-content: center;
}

@media (max-width: 800px){
    .relatedproduct{
        height: auto;
        padding: 40px 20px;
    }
    .relatedproduct h1{
        font-size: 36px;
    }
}

@media (max-width: 500px){
    .relatedproduct h1{
        font-size: 26px;
    }
    .relatedproduct-item{
        gap: 15px;
    }
}